body {
  margin: 0;
  min-height: 100vh;
  background: url("../../assets/Backgrounds/Castle/castle01.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* thunder */
.thunder{
  height: 100vh;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/effects/thunder.png");
  top: -100px;
  transform: rotate(180deg);
  animation: lightining 2s linear infinite;
  opacity: 1;
}
@keyframes lightining{
  0%{
      opacity: 0;
  }
  20%{
      opacity: 0;
  }
  21%{
      opacity: 0;
  }
  25%{
      opacity: 0;
  }
  30%{
      opacity: 0;
  }
  31%{
      opacity: 1;
  }
  35%{
      opacity: 0;
  }
  100%{
      opacity: 0;
  }
}
/* welcome page
 */

#opening-title{
  font-family: 'Metal Mania';
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 7px;
  color:rgb(223, 193, 138);
  text-shadow: 4px 4px rgba(81, 49, 49, 0.905);
  margin-top: 2%;
}

#start-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}


.btn{
  text-align: right;
  animation: shake 10s  infinite;
  padding-top: 30%;
  flex-grow: 1;
}
#game__start-btn{
  background-color: Transparent;
  border: none;
   width: fit-content;
  height: fit-content; 
  cursor:pointer;
  outline:none;
  font-family: 'Just Another Hand', cursive;
  font-size: 4rem;
  color:rgba(246, 255, 244, 0.905);
  text-shadow: 3px 3px rgba(124, 28, 28, 0.905);
  text-transform: uppercase;
  transform: rotate(-5deg);
  padding-right: 5%;
  transition: all .2s ease-in-out;
}
#game__start-btn:hover{
color:rgba(246, 255, 244, 0.905);
transform: scale(115%)rotate(-5deg);
}

#game__start-btn:active{
  transform: translate(0, 0.1rem)rotate(-5deg);
}

/* timer */

.game__timer {
  float: right;
  margin-right: 2%;
  font-size: 1rem;
  font-family: "Press Start 2P";
  color: #000;
  margin-top: 1%;
  padding: 0 1rem;
  border: 4px solid #000;
  background-color: #faebd7;
  align-items: center;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: paused; 
}
.timer__title {
  font-size: 1rem;
  margin-right: 5%;
}
#timer-animation-container {
  padding-left: 70%;
}
.timer-added-seconds {
  position: absolute;
  visibility: hidden;
  animation-name: addedSeconds;
  animation-duration: 2s;
  animation-timing-function: ease;
}
.timer-lost-seconds {
  position: absolute;
  visibility: hidden;
  animation-name: lostSeconds;
  animation-duration: 2s;
  animation-timing-function: ease;
}

.hidden-element {
  display: none;
}

.gameover____div {
  border: 2px solid rgb(254,228,197);
  border-radius: 20px;
  background: rgb(254,228,197);
  width: 400px;
  height: 400px;
  text-align: center;
  margin-left: 39%;
  margin-top: 10%;
}

.gameover____image {
  width: 80px;
  margin-top: 40px;
}

.gameover____button {
  background-color: rgb(249,153,0);
  border-radius: 20px;
  border: 10px solid rgb(249,153,0);
  cursor: pointer;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 10px;
}

@keyframes addedSeconds {
  0% {color: green; visibility: visible;opacity:1;}
  100% {color: green; transform: translate(20%, -600%); visibility: hidden;opacity:0;}
}

@keyframes lostSeconds {
  0% {color: red; visibility: visible;opacity:1;}
  100% {color: red; transform: translate(20%, 600%); visibility: hidden;opacity:0;}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



@media screen and (max-width:670px) {
  #opening-title{
    font-size: 2.2rem;
  }
  .btn{
    padding-top: 65%;
  }
}
