/* * This is to extend the 3 grids heights */
html,
body,
main {
  min-height: 100vh;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.title-screen {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}

.title-screen__title {
  position: absolute;
  top: -390%;
  left: -210%;
}

.main__game {
  background-color: #000066;
  color: white;
}

.left-sidebar,
.right-sidebar {
  background-color: #309;
  color: white;
  text-align: center;
}

.game-left-panel__title {
  margin-top: 2rem;
  font-size: 3.1rem;
}

.game__timer {
  float: right;
  display: flex;
  margin-right: 2%;
  font-size: 1rem;
  font-family: "Londrina Outline", cursive;
  color: #000;
  margin-top: 1%;
  padding: 0 1rem;
  border: 2px solid #000;
  background-color: #faebd7;
  align-items: center;
}
.timer__title {
  font-size: 1rem;
  margin-right: 5%;
}

.game__start-btn {
  cursor: pointer;
}

.operation__panel {
  text-align: center;
}

.enter-answer-btn {
  cursor: pointer;
}

/* * This classes should be at bottom to take priority: */

.hidden-element {
  display: none;
}
